ul.topnav {
  @media (min-width: 767px){
    li, a, button {
      height: 50px;
    }
  }
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparentize(#000, 0.8);
  font-size: 10px;
}

ul.topnav li {float: left;}

ul.topnav li a, button:not(.language) {
  display: block;
  color: white;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 18px;
  text-decoration: none;
}

ul.topnav li a, button:hover:not(.active) {background-color: #d82361;}

ul.topnav li a.active, button.active {background-color: #d82361;}

ul.topnav li.right {float: right; display: inline-flex;}

@media screen and (max-width: 600px){
  ul.topnav li.right,
  ul.topnav li {float: none;}
}

button:not(.language) {
  background-color: transparent;
  border: transparent;
}
button:active {background-color: white; color: black;}
button:focus {outline:0;}

li {
  .category-item:hover {
    font-size: 16px;
    font-weight: 600;
  }
}