ul.topnav {
  @media (min-width: 767px){
    li, a {
      height: 50px;
    }
  }
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparentize(#000, 0.8);
  font-size: 10px;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #d82361;}

ul.topnav li a.active, button {background-color: #d82361;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
  ul.topnav li.right,
  ul.topnav li {float: none;}
}

button:active {background-color: white; color: black;}
button:focus {outline:0;}

li {
  .category-item:hover {
    font-size: 16px;
    font-weight: 600;
  }
}