<ul class="topnav">
  <li><img width="50px" alt="Wavi Logo" src="../assets/images/logo.png"></li>
  <li *ngFor="let category of categories; trackBy: index">
    <button class="category-item" (click)="switchCategory(category)">{{category}}</button></li>
  <li class="right">
    <button class="language" (click)="switchLanguage('en')">EN</button>
    <button class="language" (click)="switchLanguage('fr')">FR</button>
    <button class="language" (click)="switchLanguage('es')">ES</button>
  </li>
</ul>

